%h2 Last Week (Iteration #{@iteration -1})
%h3 Features & Bugs
#{@lw_table_out}

- if @lwc_table_out
  %h3 Chores
  #{@lwc_table_out}

%hr
%h2 This Week (Iteration #{@iteration})
#{@tw_table_out}

%hr
%h2 New Stories
#{@ns_table_out}